@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;
  background-color: #f7f9fc;
  overflow: hidden;

  @include md {
    flex-direction: column;
    overflow-y: auto;
  }

  .details {
    flex: 3;
    overflow-y: auto;
    padding-bottom: 50px;
    background-color: white;
    border-right: 1px solid #e0e0e0;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 20px 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 500;
          color: #333;
        }

        button {
          padding: 10px 20px;
          background-color: #fece51;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          transition: background-color 0.3s;

          &:hover {
            background-color: #f0b945;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .avatarSection {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #ddd;
          }
        }

        span {
          font-size: 16px;
          color: #555;
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .logoutBtn {
          width: max-content;
          background-color: #ff6b6b;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 5px;
          font-weight: bold;
          transition: background-color 0.3s;

          &:hover {
            background-color: #ff4c4c;
          }
        }
      }
    }
  }

  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    overflow-y: auto;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
