@import "../../responsive.scss";

.homePage {
  display: flex;

  height: 100%;

  background-color: #f7f8fa;

  @include lg {
    flex-direction: row;
  }

  .textContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .wrapper {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;

      @include lg {
        text-align: left;
        padding-right: 50px;
      }

      .title {
        font-size: 48px;
        color: #2c3e50;

        @include lg {
          font-size: 40px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @include sm {
          flex-direction: column;
          gap: 10px;
        }

        h1 {
          font-size: 32px;
          color: #fece51;

          @include lg {
            font-size: 28px;
          }
        }

        h2 {
          font-size: 18px;
          font-weight: 300;
          color: #7f8c8d;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcf5f3;
    padding: 20px;

    @include md {
      display: none;
    }

    img {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;

      @include lg {
        width: 90%;
      }
    }
  }
}
